.container{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
}
.list{
    padding: 0px;
    list-style: none;

}
.itemList{
    
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    width: 250px,
}
